/Ponerle_unFondo_eliminar/nbproject/private/
/Ponerle_unFondo_eliminar/build/
/Practicar_pilaGenerica_eliminar/nbproject/private/
/Practicar_pilaGenerica_eliminar/build/
/Actualizar_datos_desdeJava/nbproject/private/
/Actualizar_datos_desdeJava/build/
/Trabajo_Mercado_Abasto/nbproject/private/
/Trabajo_Mercado_Abasto/build/
/RadioButton_RadioGroup/nbproject/private/
/RadioButton_RadioGroup/build/
/EmpresaArea/nbproject/private/
/EmpresaArea/build/
/PruebaCalculadoraSueldo/nbproject/private/
/PruebaCalculadoraSueldo/build/
/Modificar_hibernate/nbproject/private/
/Modificar_hibernate/build/
/PracticarSwitch_eliminar/nbproject/private/
/PracticarSwitch_eliminar/build/
/Prueba_objetos_paraEliminar/nbproject/private/
/Prueba_objetos_paraEliminar/build/
/Para_Practicar/nbproject/private/
/Para_Practicar/build/
/Para_Practicar2/nbproject/private/
/Para_Practicar2/build/
/Convertir_centigradosEnFahrenheit/nbproject/private/
/Convertir_centigradosEnFahrenheit/build/
/Negocio_Repuestos/nbproject/private/
/Negocio_Repuestos/build/
/Genericos_eliminar/nbproject/private/
/Genericos_eliminar/build/
/Fabrica_dos/nbproject/private/
/Fabrica_dos/build/
/Fabrica_dos/dist/
/fabrica_tres/nbproject/private/
/fabrica_tres/build/
/Transferencia_Practicar/nbproject/private/
/Transferencia_Practicar/build/
/Transferencia_Practicar/dist/
/While_conExcepciones/build/
/While_conExcepciones/nbproject/private/
/Fecha_conGregorianCalendar/nbproject/private/
/PonerFecha_paraJava8/nbproject/private/
/PonerFecha_paraJava8/build/
/Pizzeria_1/nbproject/private/
/Pizzeria_1/build/
/ProbarModelo_atributoDeOtraClase/nbproject/private/
/ProbarModelo_atributoDeOtraClase/build/
/Restaurant/nbproject/private/
/Restaurant/build/
/Para_Practicar50/nbproject/private/
/Para_Practicar50/build/