/Ponerle_unFondo_eliminar/nbproject/private/
/Ponerle_unFondo_eliminar/build/
/Practicar_pilaGenerica_eliminar/nbproject/private/
/Practicar_pilaGenerica_eliminar/build/
/Actualizar_datos_desdeJava/nbproject/private/
/Actualizar_datos_desdeJava/build/